.grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 5px;
  margin: 20px auto;
  justify-content: center;
}

.button {
  height: 100px;
  width: 200px;
  cursor: pointer;
  border: none;
}
